name: crawl-l7sf

# Run this workflow every time a new commit pushed to your repository
on: 
  schedule:
  - cron: "* * * * *"

jobs:
  # Set the job key. The key is displayed as the job name
  # when a job name is not provided
  crawl-and-save:
    # Name the Job
    name: Crawl for l7sf rent data and save.
    # Set the type of machine to run on
    runs-on: ubuntu-latest

    steps:
      # Checks out a copy of your repository on the ubuntu-latest machine
      - name: Checkout code
        uses: actions/checkout@v2
      
      - name: Use node.js 14
        uses: actions/setup-node@v1
        with:
          node-version: '14'

      - name: Install & Run Script
        run: |
          ls
          yarn install
          yarn run crawl-and-save

      - name: Git Commit & Push
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: fresh rent data
          commit_user_email: crawl-bot@github.com
          commit_user_name: crawl-bot